<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <title></title>
  </head>
  <body>
    <div class="container">

    <div class="panel panel-default">
      <div class="panel-heading"><h3>{{save_contact.getLastName}}, {{save_contact.getFirstName}}</h3></div>
      <div class="panel-body">
        <p>Address: <br>{{save_contact.getAddress}}</p>
        <p>Phone Number: <br>{{save_contact.getPhoneNumber}}</p>
      </div>
    </div>
  </div>
  </body>
</html>
