<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <title>Add to or view Address Book</title>
  </head>
  <body>
    <form class="" action="/add" method="post">
      <button type="submit" name="add" class="btn">Add Contact</button>
    </form>
    <form class="" action="/view" method="post">
      <button type="submit" name="view" class="btn">View Address Book</button>
    </form>
  </body>
</html>
